ul.produtohome .pontameio { height:168px; }
ul.produtohome img { float:left; }
ul.produtohome h3 { margin:10px 0 0; height:3.2em; }
ul.produtohome p { clear:both; height:6em; overflow:hidden; margin-bottom:0.5em; }
ul.produtohome p.orelha { height:auto; margin:0;}