/* All
==================================================*/
body { width:100%; height:100%; min-height:650px; background:#FF7575; overflow-y:hidden; }
a { text-decoration:none; color:inherit; }
::selection { background:#FFF6B9; }
::-moz-selection { background:#FFF6B9; }
#close { width:45px; height:45px; position:fixed; right:0; top:0; cursor:pointer; z-index:99999;}
	#close span { display:block; width:290px; height:25px; padding:10px; padding-left:20px; position:fixed; right:0; top:0; margin-right:-320px; background:#fff6b9; vertical-align:middle; transition:all 0.5s; -webkit-transition:all 0.5s; -moz-transition:all 0.5s; box-shadow:0 0 5px rgba(0,0,0,.5) }
	#close:hover span { margin-right:0; }

body #loading { display:none; background:url(../img/loading_bg.png); width:100%; height:100%; position:absolute; top:0%; left:0%; z-index:99999; }
body #loading div { position:relative; left:50%; top:50%; margin-left:-110px; padding:100px 67px; margin-top:-110px; background:#FFF; width:100px; border-radius:50%; box-shadow:0 0 10px rgba(135, 0, 15, 1); opacity:.5; font-size:26px; }
body #loading span { position:relative; left:-30px; top:-5px; }
body.loading #loading { display:block; }
#preframe { display:block; position:absolute; width:50%; text-align:left; top:50%; font-size:80px; padding-left:50px; }
#teste { position:absolute; top:-9999px; left:-9999px; }

/* Background */
iframe { width:100%; height:100%; margin-bottom:-5px; }
iframe.carregando { position:absolute; top:100%; }
#grid-bg { background:url(../img/body_bg.png); width:100%; height:100%; position:fixed; top:0; left:0; }
#line-1 { background:url(../img/body_bg_line1.png) top right no-repeat; width:3000px; height:100%; position:fixed; top:0; right:0; }
#line-2 { background:url(../img/body_bg_line2.png) bottom left no-repeat; width:3000px; height:100%; position:fixed; top:-50%; left:0; }
#nav-bg{ background:#BE5657; opacity:.5; position:fixed; top:0; width:100%; height:50%; margin-top:-235px; border-bottom:1px solid #B9535A; }
#container { background:url(../img/body_bg_cloud.png) 90% 35% no-repeat; height:600px; width:100%; top:50%; margin-top:-300px; position:absolute; }
#phrase { font-size:120px; position:relative; top:130px; left:50px; color:#E86464; opacity:.5; }
#aviso em { font-size:35px; }
#aviso { position:fixed; display:block; line-height:35px; width:100%; left:40px; bottom:30px; font-size:23px; text-shadow:1px 1px 0 #B34747; transition:all 2s; -webkit-transition:all 2s; -moz-transition:all 2s; }
#aviso.hide { bottom:-120px; } 

/* Typography */
.t-quicksand { font-family: 'Quicksand', sans-serif; }
.t-bitter { font-family: 'Bitter', serif; }
.italic { font-style:italic }
.t-blue { color:#2A3B75; }
.t-yellow { color:#FFF6B9; }
.t-white { color:#FFF }
.t-red { color:#BE2230; }

/* Nav */
#nav { width:100%; height:220px; position:relative; top:-55px; background:url(../img/nav_bg_cloud.png) left 20px no-repeat; z-index:100; }
#logo { position:relative; top:80px; left:90px; }
#nav ul { position:relative; top:25px; left:320px; font-size:20px; }
#nav ul li { position:relative; display:inline-block; padding-right:50px; cursor:pointer; }
	#nav li:hover { color:#FFF; transition:color 0.5s; -webkit-transition:color 0.5s; -moz-transition:color 0.5s; }
	#nav li.active { color:#FFF; }
	#nav li.active ul { left:0; opacity:1; }
	#nav li li { padding-right:25px; margin-left:15px; background:url(../img/nav_x.gif) right 11px no-repeat; transition:color 0.5s; -webkit-transition:color 0.5s; -moz-transition:color 0.5s; }
	#nav li li:first-child { margin-left:0 }
	#nav li li:last-child { background:transparent; }
	#nav li li:hover { color:#BE2230; }
	#nav li .mark { display:none; width:39px; height:38px; top:-28px; left:50%; margin-left:-17px; position:relative; background:url(../img/nav_active.png);  }
	#nav li .mark.active { display:block; }
#nav ul ul {  opacity:0; width:700px; position:absolute; float:left; left:-9999px; padding-top:35px; padding-bottom:0px; height:30px; top:0px; font-size:18px; transition:opacity 1s; -webkit-transition:opacity 1s; -moz-transition:opacity 1s; }

/* Content */
.content-container { position:fixed; top:50%; bottom:0; left:0; right:0; margin-top:-235px; overflow-x:auto; overflow-y:hidden; }
	.content { height:530px; position:absolute; table-layout:fixed; }
	.content td .cell { height:530px; text-align:center; }
		.content .content-limit { min-width:960px; position:relative; height:530px; padding:0 50px; display:inline-block; zoom:1; *display:inline; text-align:left; white-space:nowrap;  }

.total-round { border-radius:50%; }

.error { padding:10px; background:#7B0000; display:none; color:#ff6f6f; box-shadow:0 0 0 5px #590000 inset; text-shadow:0 0 2px #000000; letter-spacing:0.05em; }
.succes { padding:10px; background:#036B2F; line-height:25px; display:none; box-shadow:0 0 0 4px #0e502a inset; color:#5DDF5D; text-shadow:0 0 2px #000000; letter-spacing:0.05em; }
.succes span { color:#fff; display:block; margin-top:10px; }
.succes em { display:block; font-size:20px; margin-bottom:-20px; margin-top:10px; }

/* INDEX
==================================================*/
#enter { position:fixed; top:40px; left:50px; }
#enter a { position:relative; font-size:26px; top:38px; left:240px; }
#enter .ola { width:100%; height:216px; background:url(../img/ola_bg.jpg); position:relative; top:71px; }
#enter .logo-first + div { opacity:0; box-shadow:0 0 5px rgba(0,0,0,.5); width:360px; height:318px; background:url(../img/loading_bg.png); position:fixed; top:-9999px; left:20px; transition:opacity 0.5s; -webkit-transition:opacity 0.5s; -moz-transition:opacity 0.5s; } 
#enter .logo-first:hover + div, #enter .logo-first + div:hover { opacity:1; top:20px; }
#enter .logo-second { position:absolute; left:30px; top:20px; }
#enter .lettering { position:absolute; width:160px; background:transparent; left:95px; top:20px; }
#enter .lettering span { display:block; text-align:center; }
#enter .lettering span.olal { font-size:99px; color:#2a3b75; line-height:80px; margin-left:-15px; margin-bottom:10px; }
#enter .lettering span.baleia { font-size:11px; color:#464646; }
#enter .face { position:absolute; top:150px; left:40px; border-top:1px solid white; padding-top:10px; }

.home-lettering { position:fixed; left:50%; top:50%; width:500px; height:500px; box-shadow:inset 0 0 0 10px #fff; margin:-250px 0 0 -250px; cursor:default; }
.home-lettering span { display:block; text-align:center; width:490px;}
.home-lettering span.ola { font-size:194px; line-height:180px; margin-top:20px; }
.home-lettering span.esse { font-size:28px; }
.home-lettering span.aqui { font-size:25px; }
.home-lettering span.comquem { font-size:30px; }
.home-lettering span.para { font-size:37px; }
.home-lettering span.vaate { font-size:27px; margin-bottom:40px; }
.home-lettering span.comeca { font-size:36px; }
.home-lettering span.x { left:230px; position:absolute; top:15px;	}


/* PROGRAMACAO
==================================================*/
#pg-programacao .lettering-container { width:400px; height:405px; position:relative; box-shadow:inset 0 0 0 10px white; left:50%; margin-left:-350px; text-align:center; padding:0 150px; top:60px; }
#pg-programacao .lettering { position:absolute; top:50px;}
#pg-programacao .lettering span { display:block; }
#pg-programacao .lettering span.calma { font-size:100px; line-height:95px; border-top:1px dashed #F8F0B3; }
#pg-programacao .lettering span.calma:before { content:''; display:block; width:100%; height:3px; border-bottom:1px dashed; }
#pg-programacao .lettering span.ainda { font-size:19px; }
#pg-programacao .lettering span.teremos { font-size:51px; line-height:55px;}
#pg-programacao .lettering span.breve { font-size:35px; line-height:25px; text-align:right; padding-right:20px; }
#pg-programacao .lettering span.breve:before { content:''; border-top:1px dashed; border-bottom:1px dashed; height:3px; width:200px; position:absolute; display:block; top:195px; }
#pg-programacao .lettering span.enquanto { font-size:35px; line-height:100px; margin-bottom:-35px; text-align:left; }
#pg-programacao .lettering span.enquanto em { color:#D66D6B; font-size:10px; }
#pg-programacao .lettering span.aproveite { font-size:19px; text-decoration:underline; margin-top:10px; text-align:left; }

#pg-programacao .lecture { width:400px; height:400px; display:inline-block; overflow:hidden; margin:60px 50px 0 0; }
#pg-programacao .lecture:last-child { margin-right:0; }
#pg-programacao .lecture .plus { /*background:url(../img/plus.png) no-repeat;*/ background:transparent; width:50px; height:50px; position:relative; left:50%; display:block; margin-left:-25px; top:-70px; z-index:500; transition:opacity 1s; -webkit-transition:opacity 1s; -moz-transition:opacity 1s; }
		#pg-programacao .plus + .info { overflow:hidden; width:400px; position:relative; top:-450px; height:400px; background:#FFF; opacity:0; transition:opacity 1s; -webkit-transition:opacity 1s; -moz-transition:opacity 1s; }
		#pg-programacao .plus:hover + .info, #pg-programacao .info:hover { opacity:1; }
		/*#pg-programacao .plus:hover { opacity:0; }*/
		#pg-programacao .info span { position:absolute; }
			#pg-programacao .info-time { top:50px; left:60px; font-size:70px; letter-spacing:-3px; }
			#pg-programacao .info-title { top:60px; left:70px; font-size:30px; text-decoration:underline; }
			#pg-programacao .info-text { top:110px; width:260px; line-height:21px; display:block; height:170px; left:70px; white-space:normal; }
	#pg-programacao .title, #pg-programacao .time { position:relative; display:inline-block; width:400px; margin-left:-200px; text-align:center; left:-50%; }
	#pg-programacao .title { font-size:60px;  }
	#pg-programacao .time { color:#FF7575; font-size:26px; margin-left:-400px; top:40px; }
	
/* INSCRICOES
==================================================*/
#pg-inscricoes .form { padding:20px; position:relative; z-index:1000; width:500px; height:430px; overflow:scroll; margin-top:60px; overflow-x:hidden; box-shadow:inset 0 0 20px rgba(0,0,0,.5); }
	#pg-inscricoes textarea { resize:vertical; max-height:270px; }
	#pg-inscricoes textarea, #pg-inscricoes input[type=text] { width:460px; border:0; padding:5px; font-family:'Bitter', serif; color:#BE2230 }
		#pg-inscricoes input:focus { background:#FFF6B9; }
	#pg-inscricoes .form label { margin-top:20px; }
		#pg-inscricoes .form li:first-child label:first-child { margin-top:0; }
		#pg-inscricoes .form label:first-child { font-style:italic; display:block; }
	#pg-inscricoes input[type=radio] { margin-left:20px; }
	#pg-inscricoes input[type=radio].m-zero { margin-left:0px; }
	#pg-inscricoes input[type=submit] { margin-bottom:20px; display:block; background:transparent; border:none; font-size:26px; padding:5px 0; float:right; margin-right:10px; cursor:pointer; border-bottom:2px solid; transition:color 0.5s; -webkit-transition:color 0.5s; -moz-transition:color 0.5s; }
	#pg-inscricoes input[type=submit]:hover { color:#fff; }
	#pg-inscricoes .obs { white-space:normal; margin:5px 0; }

#pg-inscricoes .apoio .lettering, 
#pg-inscricoes .oficina .lettering,
#pg-inscricoes .expo .lettering,
#pg-inscricoes .bazar .lettering,
#pg-inscricoes .encontrista .lettering { position:absolute; top:120px; right:50px; padding:10px; background:rgba(255, 255, 255, .2); }

#pg-inscricoes .lettering span { display:block; text-align:center; }

#pg-inscricoes .apoio .lettering span.monitoria:after,
#pg-inscricoes .oficina .lettering span.saobem:after { content:''; width:100%; display:block; color:#fae6c5; border-bottom:1px solid; border-top:1px solid; height:3px; position:relative; top:14px; }

#pg-inscricoes .apoio .lettering span.porisso:after,
#pg-inscricoes .oficina .lettering span.porisso:after { content:''; border-top:1px dashed; border-bottom:1px dashed; display:block; height:3px; position:relative; top:-10px; width:232px; left:120px; }

#pg-inscricoes .apoio .lettering { width:360px; }
#pg-inscricoes .apoio .lettering span.certo { font-size:23px; }
#pg-inscricoes .apoio .lettering span.coid { font-size:20px; }
#pg-inscricoes .apoio .lettering span.porisso { font-size:30px; line-height:24px; text-align:left; }
#pg-inscricoes .apoio .lettering span.seu { font-size:36px; margin-top:-5px; }
#pg-inscricoes .apoio .lettering span.ajudando { font-size:27px; line-height:30px; }
#pg-inscricoes .apoio .lettering span.monitoria { font-size:21px; margin-bottom:30px; }
#pg-inscricoes .apoio .lettering span.alem { font-size:16px; white-space:normal; line-height:24px; text-align:left; }

#pg-inscricoes .encontrista .lettering { width:360px; }
#pg-inscricoes .encontrista .lettering span.ola { font-size:25px; }
#pg-inscricoes .encontrista .lettering span.precisa { font-size:27px; line-height:40px; }
#pg-inscricoes .encontrista .lettering span.apenas { font-size:26px; }
#pg-inscricoes .encontrista .lettering span.cuidado { font-size:59px; line-height:50px; }
#pg-inscricoes .encontrista .lettering span.fique { font-size:28px; margin-bottom:-7px; margin-top:2px; }
#pg-inscricoes .encontrista .lettering span.efetuar { font-size:28px; }
#pg-inscricoes .encontrista .lettering span.valores { font-size:18px; text-align:left; }
#pg-inscricoes .encontrista .lettering span.valores:after { content:''; position:relative; border-top:1px dashed; border-bottom:1px dashed; height:3px; width:80%; display:block; top:-13px; left:70px; }
#pg-inscricoes .encontrista .lettering span.preco { font-size:21px; }
#pg-inscricoes .encontrista .lettering span.pagamento { font-size:16px; text-align:left; white-space:normal; line-height:25px; }

#pg-inscricoes .oficina .lettering { width:360px; }
#pg-inscricoes .oficina .lettering span.nuvens { font-size:19px; }
#pg-inscricoes .oficina .lettering span.nunca { font-size:16px; }
#pg-inscricoes .oficina .lettering span.porisso { font-size:30px; line-height:24px; text-align:left; }
#pg-inscricoes .oficina .lettering span.oficinas { font-size:23px; letter-spacing:-2px; }
#pg-inscricoes .oficina .lettering span.saobem { font-size:47px; line-height:42px; margin-bottom:30px; }
#pg-inscricoes .oficina .lettering span.atividades { font-size:16px; white-space:normal; text-align:left; }

#pg-inscricoes .expo .lettering { width:360px; }
#pg-inscricoes .expo .lettering span.muita { font-size:62px; line-height:75px; margin-top:-15px; }
#pg-inscricoes .expo .lettering span.gosta { font-size:26px; }
#pg-inscricoes .expo .lettering span.enxergar { font-size:24px; }
#pg-inscricoes .expo .lettering span.melhor { font-size:32px; }
#pg-inscricoes .expo .lettering span.temos { font-size:18px; }
#pg-inscricoes .expo .lettering span.exposicao { font-size:37px; line-height:35px; }
#pg-inscricoes .expo .lettering span.serve { font-size:47px; line-height:50px; }
#pg-inscricoes .expo .lettering span.mostre { font-size:19px; }

#pg-inscricoes .bazar .lettering { width:360px; }
#pg-inscricoes .bazar .lettering span.sera { font-size:18px; }
#pg-inscricoes .bazar .lettering span.inter { font-size:26px; }
#pg-inscricoes .bazar .lettering span.oferecer { font-size:25px; }
#pg-inscricoes .bazar .lettering span.voltar { font-size:26px; }
#pg-inscricoes .bazar .lettering span.esse { font-size:37px; }
#pg-inscricoes .bazar .lettering span.compra { font-size:47px; line-height:40px; }
#pg-inscricoes .bazar .lettering span.durante { font-size:42px; }

/*
#pg-inscricoes .soon .lettering-container { width:400px; height:405px; position:relative; box-shadow:inset 0 0 0 10px white; left:50%; margin-left:-350px; text-align:center; padding:0 150px; top:60px; }
#pg-inscricoes .soon .lettering { width:340px; }
#pg-inscricoes .soon .lettering span.entao { font-size:94px; line-height:160px; position:relative; top:30px; }
#pg-inscricoes .soon .lettering span.ainda { font-size:19px; }
#pg-inscricoes .soon .lettering span.esperar { font-size:39px; }
#pg-inscricoes .soon .lettering span.alguns { font-size:35px; margin-top:-10px; }
#pg-inscricoes .soon .lettering span.podera { font-size:35px; }
*/

/* HOME
==================================================*/
#pg-home .lettering { position:absolute; top:70px;}
#pg-home .lettering span { display:block; }
#pg-home .lettering span.inter { font-size:163px; line-height:100px; }
#pg-home .lettering span.designers { font-size:85px; border-bottom:1px dashed #8F4758; margin-bottom:3px; }
#pg-home .lettering span.date-place { font-size:46px; border-top:1px dashed #8F4758; font-style:normal; }
#pg-home .lettering span.networks { margin-top:10px; }
#pg-home .lettering span.networks a { float:left; margin-right:10px; }

#pg-home .home .photo { position:absolute; top:100px; left:360px; }
#pg-home .content-limit { background:url(../img/main/line.png) no-repeat 580px bottom; }

/* EVENTO
==================================================*/
#pg-evento .theme .lettering { width:470px; margin-top:70px; position:relative; display:inline-block; }
#pg-evento .theme .lettering span { display:block; width:460px; white-space:normal; text-align:center; }
#pg-evento .theme .lettering span.nuvem { font-size:126px; line-height:135px; }
#pg-evento .theme .lettering span.segundo { font-size:22px; }
#pg-evento .theme .lettering span.somos { font-size:24px; margin-top:10px;}
#pg-evento .theme .lettering span.conhecimentos { font-size:20px; margin-bottom:15px;}
#pg-evento .theme .lettering span.manipulamos { text-align:left; line-height:24px; }

#pg-evento .theme .sub { width:330px; margin-left:45px; white-space:normal; height:400px; position:relative; display:inline-block; top:80px; vertical-align:top; }
#pg-evento .theme .sub.first { margin-left:135px; padding-left:30px; border-left:2px dotted #fff; }
#pg-evento .theme .sub .title { font-size:26px; line-height:50px; }
#pg-evento .theme .sub .text { line-height:26px; }

#pg-evento .theme img { position:absolute; top:110px; left:225px; }

#pg-evento .history .lettering { margin-top:70px; position:relative; }
#pg-evento .history .lettering span { display:block; width:520px; white-space:normal; text-align:center; }
#pg-evento .history .lettering span.interdesigners { font-size:29px; }
#pg-evento .history .lettering span.unesp { font-size:54px; line-height:55px; }
#pg-evento .history .lettering span.reune { font-size:24px; }
#pg-evento .history .lettering span.desde { font-size:99px; line-height:100px; margin-bottom:-10px; }
#pg-evento .history .lettering span.promovendo { font-size:17px; text-align:left; margin-bottom:30px;}
#pg-evento .history .lettering span.promovendo:after {content:''; display:block; width:100%; height:3px; border-top:1px dashed; border-bottom:1px dashed; position:relative; top:15px; }
#pg-evento .history .lettering span.organizado { font-size:15px; text-align:left; line-height:25px; }

#pg-evento .history img { position:absolute; top:60px; left:620px; }