@charset "utf-8";
/* CSS Document */

body { text-align: center; background:#f4f4f4; margin:0;   }


.geral {
	width:800px;
	margin:0 auto;
	text-align:left;
	position:relative;
	padding-top: 30px;
	
}

.topo1 { width: 199px; padding: 0px 30px 0 0px; float:left}
.logo {width: 199px; height: 105px; padding-bottom: 30px;}
.menu { text-align:center;}

.conteudo {width: 541px; height: auto; float:left; background: url(../imgs/borda.png) no-repeat top left #FFFFFF; padding-left: 30px; }
.topomenu { padding-left:61px;}
.info {padding: 30px 30px 30px 0}
.base {padding-right:30px; text-align:right}

.palestras {padding: 30px 0 50px 40px; background: url(../imgs/palestras.png) no-repeat top left; }
.mesa {padding: 30px 0 50px 40px; background: url(../imgs/mesaredonda.png) no-repeat top left; }
.oficina {padding: 30px 0 50px 40px; background: url(../imgs/oficinas.png) no-repeat top left; }
.oficineiro {padding: 5px 10px 5px 10px; background: #f5eff5;}
.vaga { padding: 5px 5px 5px 5px; background: #9d5e9b; text-align:center;}
.linha { background:url(../imgs/lins.png) no-repeat left top; padding: 10px 0 5px 10px;}
.manha{padding: 0px 0 30px 40px; }


/*tipo*/
body { font-size: 10px ; color:#898989; font-family: "Arial", Verdana, Tahoma, sans-serif; }
.style1 {color: #9d5e9b; font-size: 12px;}
.style2 {color: #898989; font-size: 12px;}
.style3 {color: #898989; font-size: 7,5px;}
.style4 {color: #f06459; font-size: 14px;}
.style5 {color: #ffffff; font-size: 10px;}
.style6 {color: #f06459; font-size: 12px; text-align:center;}
.style7 {color: #f06459; font-size: 12px; }

a { text-decoration: none; outline:0; color: #f06459; }
a:focus { text-decoration:none;  outline:0; color: #acacac }
a:hover { text-decoration:none;  outline:0; color: #acacac; }


.rodape { padding: 30px 0px 30px 0px; text-align:right; width: 800px; overflow:hidden;}
