@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Ledger", Helvetica, Arial, sans-serif;
* {
	opacity: 1;
	transition: opacity 1s ease;
}

html {
	height:100%;

	body {
		height:100%;
		background-color: #f7f7f7;
	}
	main {
		height:100%;
		z-index: 10;
	}
}

body, label, .checkbox label {
	font-family: 'Ledger', serif;
	font-weight: 300;
}
img {
	max-width:100%;
}
.container5a7 {
	width: 24%;
	margin:0 auto;
	bottom: 0vh;
	left: 38%;
	height: 30vh;
	position: absolute;
	padding: 4em;
	text-align: center;
	.data5a7 {
		max-height: 100%;
	}

}

#menuinicial{
	margin: 0 auto;
	position: relative;
	height: 50%;
	width:100%;
	top:18%;
	position:absolute;
	>div {
		height: 100%;
		display:block;
		position: relative;
		float:left;
		padding:0.1em;
		.img-container {
			margin:0 auto;
			width:100%;
			height: 100%;
		}
		.img-menu {
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			width:90%;
			height: 100%;
			margin: 0 5%;
			top:0px;
			position: absolute;
		}
	}

}
a, span.link {
	cursor: pointer;
	&:hover .imghover {
		opacity: 1;
	}
}
 .imghover {
	transition: opacity ease 0.5s;
	display:block;
	opacity:0;
}
#menuinicial .inscricoes {
	width:17.5%;
}
#menuinicial .programacao {
	width:17.5%;
}
#menuinicial .logo {
	width:30%;
}
#menuinicial .simposio {
	width:17.5%;
}
#menuinicial .evento {
	width:17.5%;
}
.lettering-container {
	height: 80vh;
	text-align: center;
	img {
		margin:0 auto;
		max-height:100%;
	}
}
img.lettering {
	padding:2em;
}
html, body, main {
	opacity: 1;
	transition: opacity 0.7s ease;
}
.transparente {
	opacity: 0;
}
.menu-interno {
	list-style: none;
	padding:0;
	margin:0;
	text-transform: uppercase;
	margin-top: 50px;
	max-height:50%;
	li {
		position:relative;
		width:100%;
		height:40px;
		margin:20px 0;
	}
	img {
		height:100%;
		top:0px;
		position: absolute;
	}
}
.item-menu {
	width:20%;
	padding:1em;
	position:relative;
	float:left;
}
.descricao {
	height:100%;
}
.descricao-programacao,
.descricao-programacao a {
	color:#8B70B0;
}
.descricao-simposio,
.descricao-simposio a {
	color:#6E73AE;
}
.descricao-inscricoes,
.descricao-inscricoes a {
	color:#A684A5;
	padding-top: 1.3em;
	p.secao {
		min-height:15em;
	}

}
h4 img {
	max-height: 40px;
}
.descricao-evento,
.descricao-evento a {
	color:#5AC0CA;
	padding-top: 2em;
	overflow-y: scroll;

}

.conteudo-interno {
	position:relative;
	height:50%;
	overflow-y: scroll;
	> div {
		opacity: 0;
		height:0;
		transition: opacity 1s ease;
		top:0;
		position: absolute;
		display:none;
		&.ativo {
			opacity: 1;
			height:100%;
			display:block;
			transition: opacity 0s ease;
		}
	}
}

.editais > div {
	padding:0.2em;

}
span.fundo-roxo {
	border-radius:0.5em;
	padding:0.5em;
	background-color: #A684A5;
	color:white;
	width:100%;
	display: inline-block;
	border: solid 1px #A684A5;
}
.btn-edital:hover span.fundo-roxo{
	background-color:white;
	color:  #A684A5;
}
.btn-edital {
	border:0px;
	padding: 0px;
	margin: 0px;
	background-color: transparent;

}


.sprite {
	z-index: -1;
    width: 50vh; // Width of one animation frame
    height: 50vh; // Height of one animation frame
	margin: 0 auto;
	&#anima_aparece {
	    width: 60vh; // Width of one animation frame
	    height: 60vh; // Height of one animation frame
		top: 10vh;
		left: 50%;
		margin-left: -30vh;
		position: absolute;
    	background: url('/img/animacoes/aparece.png');
		background-size:cover;
		background-repeat:none;
	}
	&#anima_interna {
		position: absolute;
		display: none;
		background: url('/img/animacoes/simposio.png');
		right:0;
	}
}
